<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="RentCarDb" connectionString="Data Source=JEANCARLOSA23E4\SQLEXPRESS;User Id=sa;Password=sa;Initial Catalog=RentCar;" />
    <add name="Propietaria.RentCar.UI.Properties.Settings.RentCarConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\RentCar.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>